version: "3.3"

services:

  load_balancer:
    image: jppanda/buildit-devops:lb
    deploy:
      restart_policy:
        condition: on-failure

  node:
    image: jppanda/buildit-devops:node
    depends_on:
      - load_balancer
    deploy:
      replicas: 2
      update_config:
        parallelism: 2
      restart_policy:
        condition: on-failure 


